.DS_Store
__pycache__/
.vscode/
data/
resources/
output/checkpoints/
output/models/
src/SentEval/
src/.data/
src/.vector_cache/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
src/practical_1_exploration.ipynb
